<%= stylesheet_link_tag 'travels', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class='col-sm-10 offset-sm-2 contents'>
  <h2><%= t('.edit_list') %>(<%= @associated_travel.title %>)</h2>
  <hr class='mb-0'>
  <div id='list_area'>
    <%= render partial: 'lists/new', locals: { list: @list } %>
  </div>
</div>
