<div class='nested-fields'>
  <%= f.file_field :data %>
  <%= f.hidden_field :data_cache %>
  <%= link_to_remove_association t('.delete_image'), f, class: 'delert_image btn btn-secondary btn-sm font-weight-light' %>
</div>
