@import 'bootstrap';

@media only screen and (min-width: 576px){
  #header,
  #footer {
    display: none;
  }

  .contents {
    padding: 30px;
  }
}

@media only screen and (max-width: 576px){
  #sidebar {
    display: none;
  }

  .contents_wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .contents {
    padding: 15px;
  }
}

#header, #footer, #sidebar {
  background-color: #032123;
}

#header, #footer {
  height: 40px;
}

.header_image {
  width: 30%;
  display: block;
  margin: auto;
}

.url_footer {
  color: white;
  display: block;
  margin: auto;
}

#registrations_error_area,
#travel_error_area,
#card_error_area,
#note_error_area,
#list_error_area,
.notice, .alert {
  padding: 12px 20px;
  margin-bottom: 15px;
  list-style: none;
}
