@import "bootstrap";

@media only screen and (min-width: 576px){
  #header,
  #footer,
  #user_information2 {
    display: none;
  }

  .contents {
    padding: 30px;
  }
}

@media only screen and (max-width: 576px){
  #sidebar,
  #user_information1 {
    display: none;
  }

  .container-fluid {
    padding-top: 15%;
    padding-bottom: 15%;
  }
}
