@import "bootstrap";

@media only screen and (min-width: 576px){
  #header,
  #footer,
  #user_information2 {
    display: none;
  }

  .contents {
    padding: 30px;
  }
}

@media only screen and (max-width: 576px){
  #sidebar,
  #user_information1 {
    display: none;
  }

  .contents_wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .contents {
    padding: 15px;
  }
}
