.container-fluid {
  padding: 0;
  background-color: #032123;
}

.top_image {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
  @media only screen and (max-width: 576px){
    padding-top: 10%;
    padding-bottom: 10%;
  }
}

.scroll_down {
  color: white;
  text-align: center;
}

.log_in {
  text-align: center;
}

#first_row {
  @media only screen and (min-width: 576px){
    padding-top: 3%;
  }
}

#second_row {
  @media only screen and (min-width: 576px){
    padding-top: 8.33%;
  }
}

#second_section {
  @media only screen and (max-width: 576px){
    padding: 5%;
  }
}

.key_image {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
  border-radius: 0.25rem;
}

.message_box {
  color: white;
}
