.container-fluid {
  background-color: #FFB11B;
  background-attachment: fixed;
  background-size: cover;
}

#list_area {
  padding-top: 15px;
}

.nested-fields {
  margin-bottom: 15px;
}

#list_error_area {
  border-color: black !important;
}
