.container-fluid {
  padding-top: 45px;
  padding-bottom: 45px;
}

.travel_index {
  padding-top: 15px;
  padding-bottom: 15px;
}

.card-body {
  text-align: center;
  padding: 2%;
}

.card-title {
  margin: 0;
}
