.container-fluid {
  background-color: #FFB11B;
  background-attachment: fixed;
  background-size: cover;
}

.travel_index,
.card_index {
  padding-top: 15px;
  padding-bottom: 15px;
}

.card-body {
  text-align: center;
  padding: 2%;
}

.card-title {
  margin: 0;
}

#collapse_areas,
#note_area, #list_area {
  padding-top: 15px;
}

.notice,
#note_error_area,
#list_error_area,
#card_error_area {
  border-color: black !important;
}

.nested-fields {
  margin-bottom: 15px;
}
