<footer class='navbar fixed-bottom' id='footer'>
  <% if controller_name == 'travels' && action_name == 'show' %>
    <p class='mb-0'><small><%= link_to 'トラベル一覧', travels_path %></small></p>
  <% else %>
    <p class='mb-0'><small><%= link_to 'トラベル詳細', travel_path(@associated_travel) %></small></p>
  <% end %>
    <p class='mb-0'><small><%= link_to 'メモ一覧', notes_path %></small></p>
    <p class='mb-0'><small><%= link_to 'リスト一覧', lists_path %></small></p>
</footer>
