<footer class='navbar fixed-bottom' id='footer'>
  <% if controller_name == 'travels' && action_name == 'index' %>
    <p class='mb-0'><small><%= link_to 'トラベル新規作成', new_travel_path %></small></p>
  <% else %>
    <p class='mb-0'><small><%= link_to 'トラベル一覧', travels_path %></small></p>
  <% end %>
    <p class='mb-0'><small><%= link_to '作成メモ一覧', personal_notes_path %></small></p>
    <p class='mb-0'><small><%= link_to '作成リスト一覧', personal_lists_path %></small></p>
</footer>
